<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eryue"
    android:versionCode="2001002"
    android:versionName="2.1.2">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22"/>


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />




    <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名-->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.eryue.zhuzhuxia" />
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.eryue.zhuzhuxia"
        android:protectionLevel="normal" />

    <!--京东的权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <!--微信分享-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- for mta statistics -->
    <!--微信分享-->

    <application
        android:name="com.eryue.BaseApplication"
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.eryue.activity.SplashActivity"
            android:theme="@style/ActivityAlphaTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.eryue.activity.WelcomeGuideActivity"
            android:theme="@style/ActivityAlphaBackground"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.activity.WelcomeActivity"
            android:theme="@style/ActivityAlphaBackground"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.activity.MainActivity"
            android:theme="@style/ActivityAlphaBackground"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <!--视频播放-->
        <activity android:name="com.eryue.activity.VideoActivity"
            android:theme="@style/ActivityAlphaBackground"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" /> <!-- or android:screenOrientation="landscape"-->
        <activity android:name="com.eryue.goodsdetail.GoodsDetailActivityEx"
            android:theme="@style/ActivityTheme"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity android:name="com.eryue.mine.GeneratePosterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.AboutUsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.eryue.mine.ShareAppActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.search.GoodsSearchActivity"
            android:theme="@style/ActivityTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="com.eryue.search.GoodsSearchListActivity"
            android:theme="@style/ActivityTheme"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.MyTeamActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.eryue.mine.MyTeamActivity1"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.AppActivatorActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.HeHuoRenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.OrderDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.OrderDetailActivity1"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:screenOrientation="portrait"/>
        <activity android:name="com.eryue.mine.XieYiActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.eryue.mine.OrderSubmissionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.eryue.mine.ProxyLearnActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.SignCenterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.ModifyContactActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.eryue.mine.ModifyCashWayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.ModifyPasswordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.ChargeBackActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.SearchTeamActivity"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.MessageCenterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.VisitTraceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.HeHuoRenCashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.ForgetPasswordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.BindAlipayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>


        <activity android:name="com.eryue.mine.TiXianRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.LoginActivity"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.login.LoginActivity1"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>




        <activity android:name="com.eryue.activity.ImageBrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.activity.CreateShareActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.activity.CreateShareActivityEx"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>

        <!--<activity-->
            <!--android:name=".huizhuan.wxapi.WXEntryActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:exported="true"-->
            <!--android:launchMode="singleTop"-->
            <!--android:theme="@style/AppTheme.Fullscreen.Translucent"/>-->

        <activity
            android:name=".zhuzhuxia.wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Fullscreen.Translucent"/>


        <activity android:name="com.eryue.mine.ContactServerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.login.InputInviteCodeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.login.VertifyCodeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.login.BindPhoneActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.SearchOrderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.NewUserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.MyLiveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.mine.NewUserDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <!--自定义小尾巴-->
        <activity android:name="com.eryue.activity.SelfEndActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.goodsdetail.GoodsWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.activity.HideSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.search.GoodsSearchActivityEx"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.search.GoodsSearchResultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.home.GoodsCatActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.live.SearchLiveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.home.GoodsNoticeDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.jd.SearchJDActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.eryue.activity.ImageBigActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <receiver
            android:name="com.eryue.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>

        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.eryue.push.MyPushMessageReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter android:priority="1000">
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <service android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />

        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.eryue.zhuzhuxia.bdpush"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.eryue.zhuzhuxia"
            android:protectionLevel = "signature"
            android:exported="true" />

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="BlkWPnugpRDNhvBUUyj9pyvR" />

        <!-- 惠赚在百度开发者中心查询应用的API Key -->
        <!--<meta-data-->
            <!--android:name="api_key"-->
            <!--android:value="vs5fKFgWClsvNWYGlWOzF0jduhTyvGGX" />-->


        <!--静态注册接收器-->
        <receiver
            android:name="com.eryue.BaiduBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="android.intent.action.BOOT_COMPLETED"/><!--开机广播-->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/><!--网络状态改变广播-->
                <category android:name="com.woman.RCTest" />
            </intent-filter>
        </receiver>


        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>
